.venv/
.env

__pycache__/
*.pyc
*.egg-info/
build/
dist/

data/raw/**
data/external/**
data/processed/**
data/news/**
data/db/*.db
!data/**/.gitkeep

models/artifacts/**
!models/artifacts/.gitkeep

.streamlit/

.pytest_cache/

.vscode/
.idea/
Thumbs.db
